@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', 'Segoe UI', 'Arial', sans-serif !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background: white;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

.navbar-nav {
  display: flex;
  gap: 20px;
}

.nav-item .nav-link {
  font-size: 16px;
  color: #000;
  font-weight:600;
  cursor: pointer;
  text-decoration: none;
  padding: 0 !important;
}

.nav-link.active {
  color: #ff4d2d !important;
  border-bottom: 2px solid #ff4d2d;
  padding-bottom: 3px;
}

.nav-link:hover {
  color: #ff4d2d !important;
  border-bottom: 2px solid #ff4d2d;
  padding-bottom: 3px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-box {
  display: flex;
  gap: 15px;
  position: relative;
}

.icon-bell, .icon-heart {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.badge {
    padding: 3px !important;
    top: -5px !important;
    font-size: 11px !important;
    text-align: center !important;
    background: #F04D23;
    color: #fff !important;
    font-weight: 700 !important;
    position: absolute !important;
    right: -5px;
    width: 15px;
    height: 20px;
    border-radius: 3px !important;
    border: 1px solid #fff;
}

.auth-links {
  display: flex;
  align-items: center;
  gap: 8px;
}

.auth-links a {
  cursor: pointer;
}

.divider {
  color: #aaa;
}

.btn-post {
  border: 1px solid #ccc;
  padding: 6px 16px;
  border-radius: 5px;
  cursor: pointer;
  background: white;
}

.App-link {
  color: #61dafb;
}

.navbar-brand {
    margin-right: 2rem !important;
}

.navbar-brand img{
  height: 50px;
}

.btn {
    border: 2px solid transparent;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    border-radius: .5rem;
}

.btn-add-news {
    border: 1px solid #ebebeb !important;
    border-radius: 5px !important;
    color: #000 !important;
}

.btn-add-news:hover {
    border: 1px solid #F04D23 !important;
    border-radius: 5px !important;
    color: #F04D23 !important;
}

.navbar a{
  text-decoration: none;
  color:black;
}

.nav-action-right{
  padding-left: 20px;
  padding-right: 20px;
}

.hero-image {
    position: relative;
}

.hero-image img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.search-land {
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    z-index: 99;
    bottom: 20%;
    left: calc(45.5% - 504.5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-content {
    width: 1100px;
    background: #fff;
    padding: 20px;
    border-radius: 0 5px 5px;
}

.nav-tabs {
    gap:10px;
    border: none !important;
    padding-bottom: 1px;
}

.nav-tabs .nav-link{
    border: none !important;
    background: #ebebeb !important;
    padding: 10px 15px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #000 !important; 
    border-radius: 5px 5px 0 0 !important;

}

.nav-tabs .nav-link.active{
    background: #fff !important;
    font-weight: 600 !important;
}

.tab-content .fcus {
    background: #F5F5F5 !important;
    border: none !important;
    height: 50px;
}

.select-land {
    background: #F5F5F5 !important;
    border: none !important;
    border-radius: 5px;
    padding: 12px 10px;
    height: 48px;
    width: 100%;
}
.search-land .form-check{
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 10px;
}

.card-type{
  width: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1440px ;
        padding-left: 24px ;
        padding-right: 24px;
    }
}

@media (max-width: 991px) {
    .tab-content {
        width: 100%;
        padding: 10px 0;
    }
}